.playlist-container {
  display: flex;
  flex-direction: column;
  background-color: #152850;
  padding: 20px 30px 20px 30px;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.playlist-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 800;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

.search-field {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  padding: 8px;
}
